<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sectional Teachers</title>
    <link rel="stylesheet" href="assets/CSS/staff.css">
    <link rel="stylesheet" href="assets/CSS/staffmedia.css">
</head>
<body>
    <!-- Nav Area -->
    <section class="nav-area">
        <div class="nav-container container-flex">
            <a href="sectionalhead.html"><img src="assets/pngs/logo.png" class="nav-logo"></a>
            <ul class="list-flex">
                <li><a href="applications.html" target="_blank">Job Applications</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </section>

    <!-- Options -->
    <section class="population-area">
        <div class="pop-container menu-flex">
            <a href="sectionalhead.html" class="menu teacher-color">View Pupils</a>
            <a href="pupilsgradeupdate.html" class="menu update-color">Update Pupils Grade</a>
            <a href="teachergradeupdate.html" class="menu update-teacher-color">Update Teachers Grade</a>
        </div>
    </section>
    <hr>

    <!-- School Population -->
    <section class="grade-area">
        <div class="grade-container">
            <!-- Grade One -->
            <div class="grade-card">
                <h3 class="grade-header">Conventional</h3>
                <!-- Conventional -->
                <div class="inner-card">
                    <h3>Grade 1</h3>
                    <table class="ex">
                        <tr>
                            <th>Adm No.</th>
                            <th>Name</th>
                            <th>Grade</th>
                            <th>Arm</th>
                            <th>Medical Emergency</th>
                            <th></th>
                            
                        </tr>
                        
                        <tr>
                            <td>Adm No.</td>
                            <td>Full Name</td>
                            <td>Grade</td>
                            <td>Arm</td>
                            <td><a href="medicalEmergency.html" class="btn btn-details">Details</a></td>
                            <td><a href="details.html" class="btn btn-view">View</a></td>
                            
                        </tr>
                        
                    </table>
                </div>
               
            </div>
            <div class="grade-card">
                <h3 class="grade-header">Montessori</h3>
                <!-- Conventional -->
                <div class="inner-card">
                    <h3>Montessori 1</h3>
                    <table class="ex">
                        <tr>
                            <th>Adm No.</th>
                            <th>Name</th>
                            <th>Grade</th>
                            <th>Arm</th>
                            <th>Medical Emergency</th>
                            <th></th>
                            
                        </tr>
                        
                        <tr>
                            <td>Adm No.</td>
                            <td>Name</td>
                            <td>Grade</td>
                            <td>Arm</td>
                            <td><a href="medicalEmergency.html" class="btn btn-details">Details</a></td>
                            <td><a href="details.html" class="btn btn-view">View</a></td>
                            
                        </tr>
                        
                    </table>
                </div>
               
            </div>
        </div>
    </section>
</body>
</html>