<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Panel</title>
    <link rel="stylesheet" href="assets/CSS/staff.css">
    <link rel="stylesheet" href="assets/CSS/staffmedia.css">
</head>
<body>
    <!-- Nav Area -->
    <section class="nav-area">
        <div class="nav-container container-flex">
            <a href="#"><img src="assets/pngs/logo.png" class="nav-logo"></a>
            <ul class="list-flex">
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </section>

    <!-- Options -->
    <section class="population-area">
        <div class="pop-container menu-flex">
            <a href="uploadreports.html" class="menu update-color">Upload Mid-Term Reports</a>
            <a href="uploadresult.html" class="menu update-teacher-color">Upload Results</a>
            <a href="#" class="menu teacher-color">Reset Password</a>
        </div>
    </section>
    <hr>

    <!-- School Population -->
    <section class="grade-area">
        <div class="grade-container">
           
            <div class="grade-card">
                
                
                <div class="inner-card">
                    <h3>Grade 1</h3>
                    <table class="ex">
                        <tr>
                            <th>Adm No.</th>
                            <th>Name</th>
                            <th>Medical Emergency</th>
                            <th></th>
                            
                        </tr>
                        
                        <tr>
                            <td>Adm No.</td>
                            <td>Full Name</td>
                            <td><a href="medicalEmergency.html" class="btn btn-details">Details</a></td>
                            <td><a href="details.html" class="btn btn-view">View</a></td>
                            
                        </tr>
                        
                    </table>
                </div>
               
            </div>
            
        </div>
    </section>
</body>
</html>