<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/CSS/utilities.css">
    <link rel="stylesheet" href="assets/CSS/dashboard.css">
    <link rel="stylesheet" href="assets/CSS/media.css">
    <title>weakness</title>
</head>
<body>
    <input type="checkbox" id="checkbox">
    <label for="checkbox">
        <div class="open"></div>
        <div class="close"></div>
    </label>
    <div class="burger-nav">
        <div class="flexes cd pd-r-m">
            <img src="assets/pngs/dashboard.jpeg" class="dash">
            <h2>Dashboard</h2>
        </div>
        <ul class="card">
            <li><a href="admission.html" class="flexs"><img src="assets/pngs/Admission.png">Admission Letter</a></li>
            <li><a href="dashboard.html" class="flexs"><img src="assets/pngs/bio.png">Bio-data</a></li>
            <li><a href="attachments.html" class="flexs"><img src="assets/pngs/attachments.png">Attachments</a></li>
            <li><a href="result.html" class="flexs"><img src="assets/pngs/result.png">Result</a></li>
            <li><a href="report.html" class="flexs"><img src="assets/pngs/report.png">Mid-Term Report</a></li>
            <li><a href="weakness.html" class="flexs"><img src="assets/pngs/weakness.png">Area of weakness</a></li>
            <li><a href="progress.html" class="flexs"><img src="assets/pngs/progress.png">Progress</a></li>
            <li><a href="#" class="flexs"><img src="assets/pngs/reset.png">Reset password</a></li>
            <li><a href="#" class="flexs"><img src="assets/pngs/log-out.png">Logout</a></li>
        </ul>
    </div>
    <div class="divider">
        <div class="menu pd-r-m">
            <div class="fixed">
                <div class="card flexes">
                    <img src="assets/pngs/dashboard.jpeg" class="dash">
                    <h2>Dashboard</h2>
                </div>
                
                <ul class="card">
                    <li><a href="admission.html" class="flexs"><img src="assets/pngs/Admission.png">Admission Letter</a></li>
                    <li><a href="dashboard.html" class="flexs"><img src="assets/pngs/bio.png">Bio-data</a></li>
                    <li><a href="attachments.html" class="flexs"><img src="assets/pngs/attachments.png">Attachments</a></li>
                    <li><a href="result.html" class="flexs"><img src="assets/pngs/result.png">Result</a></li>
                    <li><a href="report.html" class="flexs"><img src="assets/pngs/report.png">Mid-Term Report</a></li>
                    <li class="active"><a href="weakness.html" class="flexs"><img src="assets/pngs/weakness.png">Area of weakness</a></li>
                    <li><a href="progress.html" class="flexs"><img src="assets/pngs/progress.png">Progress</a></li>
                    <li><a href="#" class="flexs"><img src="assets/pngs/reset.png">Reset password</a></li>
                    <li><a href="#" class="flexs"><img src="assets/pngs/log-out.png">Logout</a></li>
                </ul>
                
            </div>
        </div>
        <div class="view">
           
            <div class="container">
                <div class="header flexx pd-t-m">
                    <img src="assets/pngs/profile.jpeg" class="mg-b-s">
                    <p class="pupil-name">Pupil Name</p>
                    <p>Admission Number</p>
                    <p>Conventional Grade</p>
                    <p>Islamiyyah Grade</p>

                </div>
                <div class="contents card mg-t-m"></div>
            </div>
        </div>
    </div>
</body>
</html>